.background {
    background: #2b3137
}

html {
    font-family: 'Nunito Sans', sans-serif;
}
a {
    text-decoration: none !important;
}

a:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }
   a:visited{ color: gray }

.image {
    width: 100%;
    height: 10em;
    display: block;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit: cover;
}
.time {
    font-size: 12px;
    color: #999;
}
.time-end {
    font-size: 12px;
    color: #F56C6C;
}

.title {
    font-size: 16px;
}
.subtitle {
    font-size: 14px;
    color: #999;
}
.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.solicitud {
    font-size: 16px;
    color: #E6A23C;
}

.aceptado {
    font-size: 16px;
    color: #67C23A;
}

.green{
    color: #67C23A;
}

.rechazado {
    color: #F56C6C
}
.p-color {
    color: #303133
}

.s-color {
    color: #909399
}
.min-box {
    border-radius: 6px;
    background: #dadada;
    width: 400px;
}
.drop {
    width: 200px;
    height: 20px; 
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    box-sizing: border-box;
}
.drag{
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    box-sizing: border-box;
}
.box {
	height: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
	box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1), 0px 6px 18px 0px rgba(0, 0, 0, 0.2); 
	transition: transform 0.35s cubic-bezier(0.4,0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0px);
    background: white;
}
.box:hover { 	
	box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05); 
	transform:translateY(-0.1px); 
}
.round-top{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.round-all {
    border-radius: 10px;
}
.center{
    text-align: center;
}
.right {
    text-align: right;
}

.space-bottom{
    margin-bottom: 25px;
}

.space-top{
    margin-top: 25px;
}
